nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #000000;
padding: 1.12rem;
padding-bottom: 1rem;
}

nav .navTitles {
  display: none;
}

nav .hamburgerMenu {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

nav .material-icons {
  color: white;
  font-size: 35px;
  padding: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      color: white;
      font-size: 17.3px;
      background-color: #000000;
      padding: 1.12rem;
      padding-bottom: 1rem;
    }
  
    nav .navTitles {
      display: inline-block;
    }
  
    nav button {
      display: none;
    }
  
    nav li {
      display: inline;
      margin: 0 1rem;
    }
  
    nav a {
      color: white;
      text-decoration: none;
    }
  
    nav a:hover,
    nav a:focus,
    nav a:active {
      color: #a8a58d;
      border-bottom: 0.3rem solid #a8a58d;
      transition: all 0.12s ease-out;
    }
}
