.welcomeContainer {
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    align-items: center;
    position: fixed;
}

h1 {
    size: 100px;
}