.menu {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    margin-top: 6rem;
}
  
.menu-category {
    margin-bottom: 20px;
}
  
.menu-category h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffdf00;
}


@media (min-width: 768px) {
    .menu {
            margin-top: 8rem;
    }
}