.reviewContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    position:relative;
    color: black;
}
.reviewImgs {
    max-width: 380px;
    max-height: 350px;
}

.textReviewInput {
    max-width: 23rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}


.material-icons {
    color: black;
}





@media (min-width: 768px) {
    .textReviewArea {
        max-width: 20rem;
    }
    .noti {
        font-style: italic;
    }

    .reviewContainer {
        flex-direction: row;
        margin-left: 0rem;
        justify-content: center;
        color: white;
    }
    .material-icons {
        color: white;
        font-size: 40px;
    }
    .material-icons:hover {
        color: #ebe3d8;
    }

    .textReviewInput {
        display: block;
        height:100px;
        width:350px;
    }

    .reviewImgs {
        max-height: 300px;
    }
    
}